.sp{
  color:blueviolet;
}
.main{
 
  text-align: center;
  font-size:20px;
  background-color: rgb(221, 131, 131);
  padding: 20px;
}
.pic{
  border:3px dotted rgb(11, 11, 11);
  width:300px;
  height:300px;
  border-radius: 50%;
  object-fit: cover;
}
.app{
  display: flex;
  justify-content: space-around;
 
}
.like{
  background-color: chartreuse;
  color:black;
  border: 1px solid white;
  width:60px;
  height:40px;
  border-radius: 10%;
}
.dislike{
  background-color: chartreuse;
  color:black;
  border: 1px solid white;
  width:60px;
  height:40px;
  border-radius: 10%;
}